.page-form {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  justify-content: center;
  overflow: auto;
  z-index: 101;
}

.page-form__container {
  max-width: 396px;
  width: 100%;
  height: 100%;
  margin: 70px 0 0;
}

.page-form__nav-link {
  width: 38px;
  height: 38px;
}

.page-form__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 37px 0 40px;
}

.page-form__submit-container {
  width: 100%;
  height: 45px;
  position: relative;
  margin: 0 0 16px;
}

.page-form__submit {
  border-radius: 3px;
  background: #4285F4;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  color: #fff;
}

.page-form__submit:disabled {
  background: #F8F8F8;
  color: #C2C2C2;
}

.page-form__submit-error {
  position: absolute;
  color: #FF004C;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  top: -20px;
  left: 0;
  width: 100%;
}

.page-form__auth-text {
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0;
}

.page-form__auth-link {
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
}

.page-form__form-label {
  display: flex;
  flex-direction: column;
  position: relative;

}

.page-form__form {
  width: 100%;
  height: 397px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-form__input-title {
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.21;
  margin-bottom: 10px;
}

.page-form__input {
  border-radius: 8px;
  background: rgb(232, 240, 254);
  border: none;
  max-height: 16px;
  padding: 15px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  outline: none;
  margin-bottom: 20px;
}

.page-form__input:focus {
  border: 1px solid #4285F4;
}

.page-form__input-error {
  color: #EE3465;
}

.page-form__error {
  position: absolute;
  color: #EE3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.21;
  bottom: -1px;
}

@media screen and (max-width: 1024px){
  .page-form__form {
    height: 400px;
  }

  .page-form__container {
    margin-top: 30%;

  }
}

@media screen and (max-width: 450px) {
  .page-form__container {
    max-width: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 17%;
    margin-top: 0px;
  }

  .page-form {
    align-items: normal;
  }

  .page-form__form {
    height: 480px;
  }
  .page-form__title {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  .page-form__submit-container {
    margin: 0 0 14px 0;
    font-size: 12px;

  }

  .page-form__auth-link {
    font-size: 12px
  }

  .page-form__auth-text {
    font-size: 12px
  }
}