.not-found-page {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  overflow: auto;
}

.not-found-page__tile {
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 246px;
}

.not-found-page__subtile {
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 5px;
}

.not-found-page__button {
  color: #4285F4;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  margin-top: 184px;
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  .not-found-page {
    justify-content: center;
}
}

@media screen and (max-width: 600px) {
  .not-found-page__button {
    margin: 0;
    position: absolute;
    bottom: 30px;
    width: 100%;
  }

  .not-found-page__tile {
    font-size: 80px;
    margin: 0;
  }

  .not-found-page__subtile {
    font-size: 12px;
  }
}