.nav-tab__list {
  padding: 0;
  display: flex;
  margin: 0 0 30px;
}

.nav-tab__item {
  list-style-type: none;
  width: 96px;
  height: 36px;
  background: #303030;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}

.nav-tab__item:last-child {
  margin: 0;
}

.nav-tab__link {
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;

}

@media screen and (max-width: 600px) {
  .nav-tab__list {
    margin: 0 0 17px;
  }

  .nav-tab__item {
    margin-right: 6px;
    width: 82px;
    height: 26px;
  }

  .nav-tab__link {
    font-size: 10px;
    line-height: 1.6;
  }
}